.App {
  background-color: #ddffdd;
  width: 400px;
  height: 100%;;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.userlist {
  flex: 1;
  background-color: #ff9aa3;
}

.chat {
  flex: 12;
  background-color: rgb(254, 242, 255);
}

.inputbox {
  flex: 1;
  background-color: #ff9aa3;
}

@media screen and (max-width: 768px) {
  .userlist {
    flex: 1;
    background-color: #ff4b81;
  }
  
  .chat {
    flex: 12;
    background-color: #ff9aa3;;
  }
  
  .inputbox {
    flex: 1;
    background-color: #ff4b81;
  }
}